
{{#contentFor 'pageStyles'}}
	<link rel="stylesheet" href="{{assets.styles}}">
{{/contentFor}}

{{#contentFor 'pageScripts'}}
	{{>fonts }}	
	<script src="{{assets.modernizr}}"></script>
	<script id="site-vars" hidden> 
		var __cdn='{{cdn}}'; 
	</script>
{{/contentFor}}

<main role="main">
	<header id="header">
		{{>main/header}}
	</header>
	<article id="site-content">
		{{>main/section_home}}
		{{>main/section_work}}
		{{>main/section_info}}
		{{>main/section_connect}}
		<footer id="footer">
			{{>main/footer}}
		</footer>
	</article>
	<canvas id="canvas"></canvas>	
	<span hidden id="data-api-data" data-json='{{data}}'></span>
</main>

{{#contentFor 'inlineScripts'}} 
	<script data-main="{{assets.requireMain}}" src="{{assets.requirejs}}"></script>
	{{>js_social_apis }}	
	{{>js_analytics }}	
{{/contentFor}}