
{{#if info.website}}
<a class="partner-link" href="{{info.website}}" target="_blank" data-id="{{id}}">
<i class="icon"></i><span class="label">{{{title}}}</span>
</a>
{{else}}
<span class="partner-link" data-id="{{id}}">{{{title}}}</span>
{{/if}}