<div class="project" data-slug="{{slug}}" >
  <div class="project-inner">
    <div class="media">
      <div class="media-inner">
        <a href="#" class="media-controls">
          <span class="inner">
            <i class="icon play">Play</i>
            <i class="icon pause">Pause</i>
          </span>
        </a> 
        {{#if gallery}}
        <div class="media-container gallery">
          <ul class="gallery-list">
          {{#each gallery}}
            <li class="gallery-item" data-id="{{id}}">
              <div class="img-container" style="background-image:url({{url}});"></div>
            </li>
          {{/each}}
          </ul>
        </div>
        {{/if}}
        {{#if video}}
        <div class="media-container video">
          <video {{#if video.poster}}poster="{{video.poster.url}}"{{/if}} preload="load" loop="loop">
            {{#if video.source.mp4}}<source src="{{video.source.mp4}}" type="video/mp4" />{{/if}}
            {{#if video.source.ogg}}<source src="{{video.source.ogg}}" type="video/ogg" />{{/if}}
            {{#if video.source.webm}}<source src="{{video.source.webm}}" type="video/webm" />{{/if}}
          </video>
        </div>
        {{/if}}
      </div>
      <a class="close" href=""><i class="icon">Close</i></a>
    </div>
    <div class="info">
      <h1 class="title">{{{title}}}</h1>
      {{#if subtitle}}
      <h2 class="subtitle">{{{subtitle}}}</h2>
      {{/if}}
      <div class="details">
        <p class="project-content">{{{content}}}</p>
        <p class="additional">
          
          {{#if info.client}}
          <span class="participant-info client">
            <span class="info-label">Client:&nbsp;</span>
            {{#if info.client.info.website}}
            <a class="info-name" href="{{client.info.website}}">{{{info.client.title}}}</a>
            {{else}}
            <span class="info-name">{{{info.client.title}}}</a>
            {{/if}}
          </span>
          {{/if}}
          
          {{#if info.agency}}
          <span class="separator">/</span>
          <span class="participant-info agency">
            <span class="info-label">Agency:&nbsp;</span>
            {{#if info.agency.info.website}}
            <a class="info-name" href="{{agency.info.website}}">{{{info.agency.title}}}</a>
            {{else}}
            <span class="info-name">{{{info.agency.title}}}</a>
            {{/if}}
          </span>
          {{/if}}
          
          {{#if disciplines}}
          <span class="separator">/</span>
          <span class="taxonomy disciplines">
            <span class="info-label">Disciplines: </span>
            {{#each disciplines}}
            <span class="taxonomy-item" data-term-"{{name}}">
              <span class="label">{{{name}}}</span><span class="separator">,</span>
            </span>
            {{/each}}
          </span>
          {{/if}}
          
          {{#if technologies}}
          <span class="separator">/</span>
          <span class="taxonomy technologies">
            <span class="info-label">Technology: </span>
            {{#each technologies}}
            <span class="taxonomy-item" data-term-"{{name}}">
              <span class="label">{{{name}}}</span><span class="separator">,</span>
            </span>
            {{/each}}
          </span>
          {{/if}}
          
          {{#if tools}}
          <span class="separator">/</span>
          <span class="taxonomy tools">
            <span class="info-label">Tools: </span>
            {{#each tools}}
            <span class="taxonomy-item" data-term-"{{name}}">
              <span class="label">{{{name}}}</span><span class="separator">,</span>
            </span>
            {{/each}}
          </span>
          {{/if}}

          {{#if website}}
          <span class="separator">/</span>
          <span class="participant-info site">
            <a class="project-link info-name" href="{{website}}" target="_blank" title="{{title}}">View Site</a>
          </span>
          {{/if}}
        </p>
        <!--
        <a class="next project-advance" href="#">
          <span class="label">Next Project</span>
          <span class="title-wrapper"><span class="project-title">{project title}</span></span>
          <i class="icon"></i>
        </a>
        -->
      </div>
    </div>
  </div>
</div>